#root{
    width: 100%;
    text-align: center;

}
.header{
    background-color: blue;
    width: 100%;
  }
  
.body{
    background-color: bisque;
    width: 100%;
    height: 100vh;
    background-image: url(./img/812062.png);
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
  }
  
.Nav{
    background-color: blue;
    color: green;
    text-decoration: none;
    list-style-type: none;
    font-size: large;
    font-style: oblique;
  }
  
.Main{
    width: 20%;
  display: flex;  
  }
  .white{
    color: black;
  }
  .black{
    color: azure;
  }
  .Button{
    background-color: red;
      color: black;
      border: 2px solid #4CAF50;
  }
  footer{
   width: 100%;
  }
#episodeList{
    list-style-type: none;
}